<%require 'time'%>

<head>
  <link rel="stylesheet" href="style.css">
  </head>

<center>
   <h2>Hey <%= @name %>, how are you doing?</h2>
  <img src="https://image.flaticon.com/icons/png/512/616/616438.png" alt="chick" height="100" width="100">

   <br></br>
   

  <form action="/peeps/new">
  <input class="button" type="submit" value="Post a Peep!"/>
  </form>
  <h3>Check the Latest Peeps: </h3>

<div>
  <ul>
    <% @peeps.each do |peep| %>
      <p class="peep"><br><%= peep.text %><br>
      
      <%= peep.time %>
      <br></br>
        <form action="/peeps/<%= peep.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input  class="smallButton" type="submit" value="Delete Peep" />
        </form>

      </br></p>
    <% end %>
  </ul>
</div>
</center>


  <%# <img src="https://image.flaticon.com/icons/png/512/616/616438.png" alt="chick" height="100" width="100"> %>