<%require 'time'%>

<head>
  <link rel="stylesheet" href="style.css">
  </head>

<center>
  <h1>Latest Peeps</h1>
  <img src="https://image.flaticon.com/icons/png/512/616/616438.png" alt="chick" height="100" width="100">

<ul>
  <% @peeps.each do |peep| %>
    <p><br><%= peep.text %><br>
    <%= peep.time %>
    
      
        
    </br></p>
  <% end %>
</ul>



  <%# <img src="https://image.flaticon.com/icons/png/512/616/616438.png" alt="chick" height="100" width="100"> %>