body {
  background-image: url("/images/background1.png");
  background-size: 700px 800px;
  /* background-color: #D9ED92; */
  
}


h1 {
  color: #1E6091;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
}

h2 {
  color: #1E6091;
  font-size: 30px;
}

h3 {
  color: #1E6091;
}

p {
  color: #1E6091;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 14px
}


.button:hover {
background-color: #76C893;
color: white;
} 
.smallButton:hover {
background-color: #76C893;
color: white;
} 
.register {
  padding-top: 150px;
}

.smallButton {
  background-color: #34A0A4;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px; */

} 

.peep {
  background-color: #99D98C;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 10px;
  border: 2px solid #34A0A4;
  border-radius:10px;
  min-height: 52px;
}

.home {

  text-align: center;
  padding-top: 150px;
}

.button {
  background-color: #184E77;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}